@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.font-handwriting {
  font-family: 'Patrick Hand', cursive;
}

body {
  margin: 0;
  background-color: #fff8f0;
}